version: "3.9"

services:
  frontend:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: https://entrancebase.collegeinfonepal.com/api
        NEXT_PUBLIC_SITE_URL: https://entrance.collegeinfonepal.com
    container_name: entrance-frontend
    ports:
      - "3001:3000"
    restart: always
