version: "3.9"

services:
  backend:
    build: .
    container_name: entrance-backend
    command: ${DJANGO_COMMAND}
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    ports:
      - "8030:8000"
    env_file:
      - .env
    restart: always

volumes:
  staticfiles:
